body {
	font-family: 'Montserrat', sans-serif; 
}

.hero {
	background-image: url(../img/bg-foto.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	height: 600px;
	width: auto;
}

.logo {
	font-family: 'Just Another Hand', sans-serif;
	font-size: 35pt;
}

.brand-color {
	background-color: #D4DEFF;
}

.texto-brand {
	color: #D4DEFF;
}

.subtitulo {
	font-family: 'Just Another Hand', sans-serif;
	font-size: 25pt;

}
