body {
	font-family: 'Montserrat', sans-serif; 
}

.hero {
	background-image: url(../img/bg-foto.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	height: 600px;
	width: auto;
}

.logo {
	font-family: 'Just Another Hand', sans-serif;
	font-size: 35px;
}

.brand-color {
	background-color: #D4DEFF;
}

.texto-brand {
	color: #D4DEFF;
}

.subtitulo {
	font-family: 'Just Another Hand', sans-serif;
	font-size: 25pt;

}

.imagen {
	max-width: 100%;
}

.footer-texto {
	font-family: 'Just Another Hand', sans-serif;
	text-align: left;
	font-size: 60px;
	padding: 30px;
	vertical-align: middle;
}

.footer-iconos {
	color: #000000;
	vertical-align: middle;
	padding: 7px;
}

.footer-texto, .footer-iconos {
	display: inline-block;
}